$transparent: #ffffff00;
$trans-wht: #ffffff54;
$nav-color: #458a87;
$off-wht: #eee;


.hero-content {
    background-size: cover;
    background-repeat: no-repeat;
}
.home-page {
    .entry {
        background-color: $transparent !important;
    }
}


.special-heading {
    text-align: center;
    >p {
        margin: 0;
    }
}

.special-heading-credit {
    text-align: center;
    font-size: 1.2rem;
}


.hero-copy {
    // position: absolute;
    width: 100%;
    text-align: center;
    /* margin: 0 auto; */
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20rem 0;
}


// Responsive

@media only screen and (max-width: 1023px) {
    .full-main-heading {
        padding-bottom: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    .full-main-heading {
        padding-bottom: 10rem;
    }
}

@media only screen and (min-width: 1024px) {
    .title-area {
        align-items: center;
        display: flex;
        width: 100%;

    }

    .header-full-width .title-area {
        /* float: left; */
        // width: auto !important;
    }
    .custom-main-padding {
        padding: 10rem;
    }
}

@media only screen and (max-width: 860px) {
    .site-inner {
        padding: 0;
    }
    .entry {
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .bg-image-mobile {
        width: 100%;
    }
    .bg-image-desktop {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .bg-image-mobile {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    .nav-primary {
        // background-color: $trans-wht !important;
        // border-top: 1px solid #eee;
    }
    .special-heading {
        * {
            padding: 0 !important;
        }
    }

    .hero-copy {
        padding: 15rem 0;
    }
}

